body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}
.card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    padding: 2rem;
    margin-top: 15%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
h1 {
    color: rgb(0, 4, 255);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
p {
    font-size: 1.2rem;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightblue;
    text-decoration: underline;
}
.card {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1s forwards; /* Fade-in over 2 seconds */
}

/* Keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}